.btn {
    cursor: pointer;
    &-download {
        color: $white-color;
        position: relative;

        span {
            position: relative;
            z-index: 1;
        }
        &::after {
            content: '';
            display: block;
            z-index: 0;
            transition: all .5s;
            @include line(0, 0, 100%, 0, 100%, 4px, $secondary-color);
        }

        &:hover {
            &::after {
                top: 70%
            }
        }
    }
    &-default{
        color: $white-color;
        background-color: $secondary-color;
        border-radius: 0;
        text-align: center;
        padding: 10px 15px;
        font-size: 1.6rem;
        border: none;
    }
}